[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypackagename = {editable = true, path = "."}
marko = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.8"
